#Title{
    border-bottom: 3px solid;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    text-align: center;
    top: 70%;
    line-height: 10px;
}

#table1{
    position: relative;
    text-align: center;
    width: 500px;
    height: 250px;
    border-collapse: collapse;
    margin:auto;
    margin-top: 120px;
}

#table2{
    position: relative;
    text-align: center;
    width: 500px;
    height: 80px;
    border-collapse: collapse;
    margin:auto;
    margin-top:50px;
}

#firstButton{
    position: relative;
    text-align:center;
    width: 160px;
    height: 40px;
    border-radius: 7px;
    margin-left:46%;
    margin-top: 50px;
}

#resultGrades{
    position: relative;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

